.main {
    padding-top: 20px;
}

.card {
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
    transition: 0.2s;
}

.card p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #000000DE;
}

.card h3 {
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: #000000DE;
}

.card>div {
    padding: 10px;
}

.card:hover {
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
}