@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
  /* --ethf-blue: #1f8abb; */
  --ethf-blue: #106891;
  --material-blue: #2196f3;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: var(--ethf-blue);
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

img {
  max-width: 100%;
}

.scroll-to-section:before {
  content: "";
  display: block;
  height: 60px;
  margin: -60px 0 0;
}

@import "gloabl-page-template.css";
