.container {
  padding: 0 1rem;
}

.background {
  background-image: url('/portada.jpg');
  background-position: center center;
  background-size: cover;

}

.header {
  position: relative;
  min-height: 100vh;
  padding: 2rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.header .card {
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 120px 20px rgba(0, 0, 0, 0.2);
}

.header .grid {
  margin-bottom: 30px;
}

.icon {
  position: absolute;
  bottom: 0;
  display: block;
  z-index: 2;
}

.go-down-middle {
  width: 70px;
  height: 70px;
  animation: updownwait 2.1s infinite;
  cursor: pointer;
}

@keyframes updownwait {
  0% {
    transform: translateY(0);
  }

  16% {
    transform: translateY(8px);
  }

  28% {
    transform: translateY(4px);
  }

  40% {
    transform: translateY(8px);
  }

  60% {
    transform: translateY(0);
  }
}

.main {
  border-top: 1px solid #eaeaea;
}

.main .container {
  margin: auto;
  max-width: 800px;
  padding: 10px;
  text-align: center;
}

.main .container h2 {
  font-weight: 500;
}

.main .container h3 {
  font-size: 24px;
  margin: 0;
}

@media (min-width: 1000px) {}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 120px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .title {
    margin: 0;
    margin-top: 170px!important;
    line-height: 1.15;
    font-size: 2.5rem;
  }
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2.5rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  display: block;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  width: 100%;
  min-height: 158px;
  overflow: hidden;
}

.card.big {
  max-width: 100%;
  width: auto;
}

.card:hover,
.card:focus,
.card:active {
  color: #559beb;
  border-color: #559beb;
  /* background-color: rgba(0,0,0,0.4); */
  /* box-shadow: 0 0 50px 30px rgba(0,0,0,0.1); */
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 700px) {
  .card h2 {
    font-size: 1.25rem;
  }

  .card p {
    font-size: 1rem;
  }

  .card {
    max-width: 200px;
    margin: 10px;
  }
}


@media (max-width: 500px) {
  .grid {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .card {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    min-height: auto;
  }
}